<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prince.dao.ArticleCommentMapper">
    <!-- namespace放接口的全类名 -->

    <select id="selectAllByAid" resultType="com.prince.entity.ArticleComment" parameterType="int">
        SELECT uid,aid,text,c.ctime,username,alias FROM `comment` c,user u where c.uid = u.id and aid = #{aid} order by ctime desc;
    </select>

</mapper>